[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/cliente/Documentos/GitHub/Arquitetura-de-Computadores-I/Estudos_PA/2024-1_ARQ1_R02/Guia_1401.v
Type=Link
URL=file:///home/cliente/Documentos/GitHub/Arquitetura-de-Computadores-I/Estudos_PA/2024-1_ARQ1_R02/Guia_1401.v
Icon=text-x-verilog
